body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 4em);
    grid-gap: .8em;
    justify-content: center;
    grid-template-rows: repeat(8, 3em);
}

h2 {
    text-align: center;
}

.cont {
    font-size: x-large;
    border: 0.1em solid grey;
    text-align: center;
    background-color: whitesmoke;
    padding: 9px 0px;
}

.cont:hover {
    background-color: gray;

}

.cont:active {
    transform: translateY(.25em);
}

.con01 {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: white;
}

.con01:hover {
    background-color: white;
    cursor: pointer;
}

.con01:active {
    transform: translateY(0em);
}

.con18 {
    grid-row-start: 5;
    grid-row-end: 9;
    grid-column-start: 5;
    background-color: rgba(0, 144, 256, 1);
    color: white;
    padding: 100px 0px;
}

.con18:hover {
    background-color: blue;
}

.con02, .con03, .con04, .con05, .con06,
.con07, .con08, .con09, .con10, .con11 {
    background-color: lightgrey;
}