body {
    box-sizing: border-box;
    background-color: lightcyan;
    font-size: 1em;
}

h2 {
    text-align: center;
    background-color: black;
    color: lightblue;
}

h3 {
    margin: 0;
    background-color: black;
    color: lightblue;
    text-align: center;
    box-sizing: border-box;
}

form {
    width: fit-content;
    margin: 0 auto;
}

.contain {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* border: 2px solid skyblue; */
}

li {
    list-style-type: none;
    margin: .25em auto;
    /* text-align: center; */
}

.new-list {
    width: 15em;
    padding: .25em;
    margin: 1em .5em;
}

.btn {
    padding: .25em;
    border-color: black;
    border-radius: .75em;
    margin: 0 .5em;
}

.cont {
    display: flex;
    justify-content: space-around;
    margin: .5em;
}

.list-items {
    width: 33%;
    height: max-content;
    background-color: lightskyblue;
}

.store-items {
    width: 33%;
    height: max-content;
    background-color: lightskyblue;
}

.list {
    padding: 0.2em;
}

.store {
    padding: 0.2em;
}

li input{
    transform: scale(1.2);
    margin-left: 15%;
}

span{
    margin-left: 15%;
}