*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    background-color: #080e24;
}

h2 {
    text-align: center;
    color: whitesmoke;
}

.container {
    min-height: 105vh;
    max-height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sun {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: #fc3;
    position: absolute;
    box-shadow: 0 0 3.25em #c90;
}

.liner {
    position: absolute;
    border: .0625em solid #394057;
    border-radius: 50%;
}

.l1 {
    height: 8em;
    width: 8em;
}

.l2 {
    height: 11em;
    width: 11em;
}

.l3 {
    height: 14em;
    width: 14em;
}

.l4 {
    height: 18em;
    width: 18em;
}

.l5 {
    height: 22em;
    width: 22em;
}

.l6 {
    height: 28em;
    width: 28em;
}

.l7 {
    height: 34em;
    width: 34em;
}

.l8 {
    height: 40em;
    width: 40em;
}

.planet {
    position: absolute;
    border-radius: 50%;
    animation: rotate infinite linear;
}

.mercury {
    height: .5em;
    width: .5em;
    left: calc(50% - .25em);
    top: -.26em;
    transform-origin: 0.25em 4.22em;
    animation-duration: 3s;
    background-color: #b6bac5;
}

.venus {
    height: .75em;
    width: .75em;
    left: calc(50% - .375em);
    top: -.385em;
    transform-origin: 0.375em 5.84em;
    animation-duration: 7s;
    background-color: #bf8639;
}

.earth {
    height: .8em;
    width: .8em;
    left: calc(50% - .4em);
    top: -.4em;
    transform-origin: 0.4em 7.34em;
    animation-duration: 12s;
    background-color: #06c;
}

.moon {
    height: .25em;
    width: .25em;
    left: calc(50% - .125em);
    transform-origin: 0.125em .8em;
    animation-duration: 2s;
    background-color: whitesmoke;
}

.mars {
    height: .6em;
    width: .6em;
    left: calc(50% - .3em);
    top: -.3em;
    transform-origin: 0.3em 9.26em;
    animation-duration: 20s;
    background-color: #aa4200;
}

.jupiter {
    height: 2.25em;
    width: 2.25em;
    left: calc(50% - 1.125em);
    top: -1.125em;
    transform-origin: 1.125em 12.025em;
    animation-duration: 60s;
    background-color: #e0ae6f;
}

.saturn {
    height: 2em;
    width: 2em;
    left: calc(50% - 1em);
    top: -1em;
    transform-origin: 1em 14.925em;
    animation-duration: 90s;
    background-color: #dfd3a9;
}

.saturn-line {
    position: absolute;
    height: 2.5em;
    width: 2.5em;
    left: calc(50% - 1.25em);
    top: -.25em;
    border: .0625em solid #dfd3a9;
}

.uranus {
    height: 1.5em;
    width: 1.5em;
    left: calc(50% - .75em);
    top: -.75em;
    transform-origin: 0.75em 17.7em;
    animation-duration: 140s;
    background-color: #82b3d1;
}

.neptune {
    height: 1.5em;
    width: 1.5em;
    left: calc(50% - .75em);
    top: -.75em;
    transform-origin: 0.75em 20.7em;
    animation-duration: 200s;
    background-color: #77c2ec;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}