.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  background-color: cyan;
  overflow: auto;
  white-space: nowrap;

}

.box1 {
  display: flex;
  margin: 5px;
  align-items: center;
}

.logo {
  height: 2em;
  width: 2em;
  margin: auto 15px;
}

.logo:hover {
  cursor: pointer;
}

.box2 {
  display: flex;
  margin: 5px;
}

.item2 .btn {
  border-radius: 5px;
  background-color: lightcyan;
  border-color: lightcyan;
  height: 2em;
}

.item2 .btn:hover {
  cursor: pointer;
  background-color: cyan;
}

.item1 {
  font-size: 1.25em;
  display: flex;
  margin: auto 15px;
}

.dropdown .dropcont {
  display: none;
  position: absolute;
}

.dc {
  margin: 2px;
  padding: 2px;
  list-style-type: none;
}

.item2 {
  margin: auto 7px;
}

.item1:hover {
  cursor: pointer;
  background-color: lightcyan;
}

.frm .ip {
  border-color: cyan;
  background-color: lightcyan;
  margin-right: .5em;
  height: 1.55em;
}

.lks {
  text-decoration: none;
  color: black;
}