.sbar-title{
    background-color: aqua;
}

.sbar{
    padding: .5em;
    margin: 2em 0;
    cursor: pointer;
}

.sbar:hover{
    background-color: darkcyan;
}

.link{
    text-decoration: none;
    color: darkslategrey;
}
.flexer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.compare-list{
    margin: 1em 0;
}
.compbox{
    width: 25%;
} 
